#dicom-overlay {
  position: absolute;
  bottom: 0;
}

#image-thumbs {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: auto;
  max-height: 100%;
  max-width: 30%;
  user-select: none;
}

.thumbnail {
  pointer-events: none;
  display: block;
  margin: auto;
}

.thumb {
  position: relative;
  border: 1px dotted blue;
}

.thumb-active {
  border: 5px dotted blue;
}

.thumb span {
  position: absolute;
  right: 0;
  color: lightblue;
}

.single-dicom-viewer {
    position: relative;
}
#dicom-toggle-mode-button {
  position: absolute;
  left: 0;
  font-size: 40;
  z-index: 99;
  opacity: 20%;
}

#dicom-toggle-mode-button:hover {
  opacity: 100%;
}

#dicom-settings-button {
  position: absolute;
  right: 0;
  font-size: 40;
  z-index: 99;
  opacity: 20%;
}

#dicom-settings-button:hover {
  opacity: 100%;
}

#dicom-settings-panel {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  max-width: 100%;
  max-height: 100%;
  z-index: 999;
}

#dicom-window-panel {
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  opacity: 0.0;
}
#dicom-window-panel:hover {
  opacity: 1;
}