body {
    width: 96%;
    }

#score {
    display: none;
    }

#about {
    width: 80%;
    }

#content {
    clear: both;
    }

ol.answer-list {
    padding-left: 22px;
    }

#header-text {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    text-align: center;
    }

#header-next-button {
    float: right;
    }

/*Override toastr css*/
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 100%;
  }
/*
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
*/
